.profile {
    display: grid;
    grid-gap: 1em;
    align-items: start;
    grid-template-columns: 1fr 8fr;
    font-size: 19px;
}

.avatar_column {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
    max-width: 170px;
    margin: 0 auto;

}
.navbar {
    margin-top: 10px;
}
.avatar {
    margin: 0 auto;
    max-width: 150px;
}

.thin_column {

}

.user_info {
    display: grid;
    grid-gap: 1em;
    align-items: start;
    grid-template-columns: 10fr 2fr;
    background: #fff;
}

.user_info_top {
    padding-left: 15px;
}

.basic_info {
    background: #fff;
    padding: 15px 15px;
    margin-top: 15px;
}

.basic_info p {
    margin: 0;
}

.favorite_games {
    background: #fff;
    padding: 0 15px;
}

.favorite_games_text p{
    padding: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid #000;
}

.games_pict {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
}

.games_pict img {
    max-width: 70px;
}

.achievements {
    background: #fff;
}
