.navbar {
    margin-top: 350px;
    align-self: center;
}

.menu {
    margin-top: 20px;
}

.menu li {
    width: 176px;
    height: 30px;
    list-style-type: none;
    padding-left: 8px;
}

.menu li:hover {
    background: #dce1e6;
    border-radius: 4px;
}

.menu__item a {
    display: block;
    text-decoration: none;
    color: #777777;
    font-size: 20px;
}