.pages {
    margin: 20px 0;
}
.page, .current-page {
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.current-page {
    border: 2px solid gray;
    font-weight: 700;
}

